**Question 4. In this lab, we will illustrate the use of multiple linear re- gression for calibrating robot control. The robot data for the lab is taken from TU Dortmundâ€™s Multiple Link Robot Arms Project. We will focus on predicting the current drawn into one of the joints as a function of the robot motion. Such models are essential in predicting the overall robot power consumption.**

**a. Read in the data in the attached exp_train.csv file; check that the data that you read actually corresponds to the data in the .csv file. In Python, you can use the commands given at the end of this document.**

In [25]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error

names =['t','q1', 'q2', 'q3','dq1', 'dq2', 'dq3','I1', 'I2', 'I3', 'eps21', 'eps22', 'eps31', 'eps32',
        'ddq1', 'ddq2', 'ddq3']
train_data = pd.read_csv('exp_train.csv', header=None,sep=',', names=names, index_col=0)
train_data.head(6)

            q1      q2      q3  ...          ddq1           ddq2          ddq3
t                               ...
0.00 -0.000007  2.4958 -1.1345  ... -9.904900e-19 -6.210306e-319  4.917400e-27
0.01 -0.000007  2.4958 -1.1345  ...  4.248100e-19 -1.766878e-319 -1.381100e-27
0.02 -0.000007  2.4958 -1.1345  ...  3.233800e-19 -4.990557e-320 -4.117300e-28
0.03 -0.000007  2.4958 -1.1345  ...  1.500500e-19 -1.394253e-320 -1.173100e-28
0.04 -0.000007  2.4958 -1.1345  ...  5.932400e-20 -3.581976e-321 -3.770800e-01
0.05 -0.000007  2.4958 -1.1345  ...  2.164600e-20 -1.141292e-321  2.930300e-01

[6 rows x 16 columns]

After checking the data with the .csv file we observe that both of them are same.

**b. Create the training data:
â€¢ Labels y: A vector of all the samples in the â€˜I2â€™ column
â€¢ Data X : A matrix of the data with the columns: [â€˜q2â€™,â€˜dq2â€™,â€˜eps21â€™,
â€˜eps22â€™, â€˜eps31â€™, â€˜eps32â€™,â€˜ddq2â€™]**

In [0]:
train_y=train_data['I2']
train_x=train_data.drop(['q1','q3','dq1','dq3','I1','I2','I3','eps21','eps32','ddq1','ddq3'],axis=1)

**c. Fit a linear model between X and y (using sklearn, or any other library of your choice). Report the MSE of your model.**

In [47]:
regr=linear_model.LinearRegression()

regr.fit(train_x,train_y)

train_y_pred=regr.predict(train_x)
MSE=mean_squared_error(train_y,train_y_pred)

print(MSE)

0.011149459257621544

**d. Using the linear model that you trained above, report the MSE on the test data contained in the attached exp_test.csv file.**

In [38]:
test_data=pd.read_csv('exp_test.csv', header=None,sep=',', names=names, index_col=0)
test_data.head(6)

            q1      q2       q3  ...      ddq1           ddq2      ddq3
t                                ...
0.00 -0.000007  1.9024  0.26063  ... -0.045712  6.210306e-319  1.582900
0.01  0.000013  1.9024  0.26073  ...  0.125580  1.766878e-319  0.414660
0.02 -0.000007  1.9024  0.26086  ... -0.130080  4.990557e-320  0.082286
0.03  0.000013  1.9024  0.26099  ...  0.213010  1.394253e-320  0.190650
0.04 -0.000007  1.9024  0.26110  ... -0.276490  3.581976e-321 -0.170400
0.05 -0.000007  1.9024  0.26124  ...  0.323560  1.141292e-321  0.031745

[6 rows x 16 columns]

In [46]:
test_y=test_data['I2']
test_x=test_data.drop(['q1','q3','dq1','dq3','I1','I2','I3','eps21','eps32','ddq1','ddq3'],axis=1)
regr.fit(test_x,test_y)
pred=regr.predict(test_x)
MSE=mean_squared_error(test_y,pred)
print(MSE)

0.008033360068555156